<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>

    <link
            rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
            th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
    >
</head>
<body>

<!--/*thymesVar id="recipe" type="com.tt.spring5recipeapp.domain.IngredientCommand"*/-->
<div class="container">
    <div class="card border-primary mb-3" style="margin-top: 2em;">
        <div class="card-header">
            <h3 class="card-title">Ingredient</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p th:text="${ingredient.id} + ' - ' + ${ingredient.amount} + ' ' + ${ingredient.unitOfMeasure.description} + ' ' + ${ingredient.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias doloribus et fugiat illum,
                        iure magnam, minima neque nesciunt optio sed, sequi suscipit vel! Fugit quidem, sed! Esse
                        incidunt, similique?</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
        th:href="@{/webjars/jquery/3.0.0/jquery.min.js}"
></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"
        th:href="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"
></script>
</body>
</html>