<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipe</title>

    <link
            rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous"
            th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
    >
</head>
<body>

<!--/*thymesVar id="recipe" type="com.tt.spring5recipeapp.domain.Recipe"*/-->
<div class="container">
    <div class="card border-primary mb-3" style="margin-top: 2em;">
        <div class="card-header">
            <h3 class="card-title" th:text="${recipe.description}">Recipe Description Here!</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <h5>Categories :</h5>
                </div>
                <div class="col-md-9">
                    <ul>
                        <li th:each="category : ${recipe.categories}" th:text="${category.name} + ' - ' +${category.description}">TEST</li>
                        <li th:remove="all">cat two</li>
                        <li th:remove="all">cat three</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h5>Prep Time :</h5>
                </div>
                <div class="col-md-3">
                    <p th:text="${recipe.prepTime + ' min'}">30min</p>
                </div>
                <div class="col-md-3">
                    <h5>Difficulty :</h5>
                </div>
                <div class="col-md-3">
                    <p th:text="${recipe.difficulty}">Easy</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h5>Cook Time :</h5>
                </div>
                <div class="col-md-3">
                    <p th:text="${recipe.cookTime + ' min'}">30min</p>
                </div>
                <div class="col-md-3">
                    <h5>Servings :</h5>
                </div>
                <div class="col-md-3">
                    <p th:text="${recipe.serving}">4</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <h5>Source :</h5>
                </div>
                <div class="col-md-3">
                    <p th:text="${recipe.source}">30min</p>
                </div>
                <div class="col-md-3">
                    <h5>URL :</h5>
                </div>
                <div class="col-md-3">
                    <p th:text="${recipe.url}">www.food.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary mb-3" style="margin-top: 2em;">
        <div class="card-header">
            <div class="row">
                <div class="col-md-11">
                    <h3 class="card-title">Ingredients</h3>
                </div>
                <div class="col-md-1">
                    <a class="btn btn-primary" th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}">View</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li th:each="ingredient : ${recipe.ingredients}" th:text="${ingredient.amount + ' ' + ingredient.unitOfMeasure.description + ' ' + ingredient.description}">1 Cup of Milk</li>
                        <li th:remove="all">1 Teaspoon of Chocolate</li>
                        <li th:remove="all">1 Teaspoon of Sugar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary mb-3" style="margin-top: 2em;">
        <div class="card-header">
            <h3 class="card-title">Directions</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p th:text="${recipe.directions}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad alias doloribus et fugiat illum,
                        iure magnam, minima neque nesciunt optio sed, sequi suscipit vel! Fugit quidem, sed! Esse
                        incidunt, similique?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-primary mb-3" style="margin: 2em 0;">
        <div class="card-header">
            <h3 class="card-title">Notes</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p th:text="${recipe.notes.recipeNotes}">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad consequatur debitis,
                        eos facilis fugiat in libero magnam nostrum pariatur quaerat quia quo quos repellendus rerum
                        sint voluptatum. Ducimus, fugit?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
        th:href="@{/webjars/jquery/3.0.0/jquery.min.js}"
></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"
        th:href="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"
></script>
</body>
</html>